@model CrudClienteWeb.Models.DbCliente

@{
    ViewData["Title"] = "Edit";
}

<h1>CLIENTE</h1>
<h3>Editar</h3>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="row rowForm">
            <div class="form-group col-md-5">
                <label asp-for="nome" class="control-label">Nome</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="cpfcnpj" class="control-label">CPF/CNPJ</label>
                <input asp-for="cpfcnpj" class="form-control" />
                <span asp-validation-for="cpfcnpj" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="rgie" class="control-label">RG/IE</label>
                <input asp-for="rgie" class="form-control" />
                <span asp-validation-for="rgie" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="ativo" class="control-label">Ativo</label>
                <input type="checkbox" asp-for="ativo" class="form-check-input form-control" style="height: 30px; width: 30px; padding: 0px; margin-top: 4px;" />
                <span asp-validation-for="ativo" class="text-danger"></span>
            </div>
        </div>
        <div class="row rowForm">
            <div class="form-group col-md-4">
                <label asp-for="endereco" class="control-label">Endereço</label>
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="numero" class="control-label">Número</label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="bairro" class="control-label">Bairro</label>
                <input asp-for="bairro" class="form-control" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="complemento" class="control-label">Complemento</label>
                <input asp-for="complemento" class="form-control" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>
        </div>
        <div class="row rowForm">
            <div class="form-group col-md-4">
                <label asp-for="cep" class="control-label">CEP</label>
                <input asp-for="cep" class="form-control" />
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="idcidade" class="control-label">Cidade</label>
                <input asp-for="idcidade" class="form-control" />
                <span asp-validation-for="idcidade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="idestado" class="control-label">Estado</label>
                <input asp-for="idestado" class="form-control" />
                <span asp-validation-for="idestado" class="text-danger"></span>
            </div>
        </div>
            <div class="form-group pull-right">
                <input type="submit" value="Salvar Alterações" class="btn btnCad btn-success" />
                <a asp-action="Index" class="btn btnCad btn-primary">Voltar</a>
            </div>
     </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
